{
    "extends": [
      "eslint:recommended",
      "plugin:react/recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended",
      "prettier/@typescript-eslint",
      "plugin:prettier/recommended",
      "prettier"
    ],
    "rules": {
      "@typescript-eslint/ban-ts-comment": "off",
      "@typescript-eslint/ban-ts-ignore": "off",
      "react/prop-types": 0,
      "ban-ts-ignore": "off",
      "jsx-quotes": [
        1,
        "prefer-double"
      ]
    },
    "env": {
      "es6": true
    },
    "settings":{
      "react": {
        "version": "detect"
      }
    },
    "plugins": [
      "@typescript-eslint",
      "prettier"
    ]
  }